version: '3.8'
services:
  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    depends_on:
      - redis

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: dang123
      RABBITMQ_DEFAULT_PASS: "haidang"

  mysql-nro:
    image: mysql:8.0
    container_name: mysql-nro
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "Phamhaidang112@"
    volumes:
      - ./configAdmin.sql:/docker-entrypoint-initdb.d/configAdmin.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql-nro
    depends_on:
      - mysql-nro

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "2809:8080"
    depends_on:
      - mysql-nro

  jaeger:
    image: jaegertracing/jaeger:2.11.0
    container_name: jaeger
    ports:
      - "16686:16686"
      - "16685:16685"
      - "4317:4317"
      - "4318:4318"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "14268:14268"
      - "14250:14250"
      - "27777:27777"
      - "27778:27778"